
@{
    Layout = null;
}

<!DOCTYPE html>

<html style=" height:100%">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/css/menu.css" rel="stylesheet" />
    
</head>
<body style="height:100%;margin:0px;" >
    <div class="backgroundImage">
        <div class="navbar">
            <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Home</a>
            <a class="btn btn-primary" asp-action="Clubs" asp-controller="Clubs">Clubs</a>
            <a class="btn btn-primary" asp-action="ManagePlayers" asp-controller="Players">Players</a>
            <a class="btn btn-primary" asp-action="AddClubPage" asp-controller="Clubs">Add Club</a>
            <a class="btn btn-primary" asp-action="AboutUs" asp-controller="Home">About us</a>
        </div>
        <div class="anim">
           <p>Welcome to Soccer Club Management.</p>
        </div>
        </div>
</body>
</html>
